[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate -20
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend --no-edit

[core]
    autocrlf = input
    pager = less -F -X

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[init]
    defaultBranch = main

[diff]
    colorMoved = default
